---
layout: page
title: Latest Posts
excerpt: "Requestly Posts"
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:50 %}
  {% if post.sample and site.showSample != true %} {% continue %} {% endif %}
  {% if post.categories == developers %} {% continue %} {% endif %}
  <li>
    <article>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        <span class="entry-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </span>
        {% if post.excerpt %}<span class="excerpt">{{ post.excerpt }}</span>{% endif %}
      </a>
    </article>
  </li>
{% endfor %}
</ul>
