<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{
    font:14px Helvetica,Arial,sans-serif;
    float: left;
    padding-bottom: 20px;
    width: 100%;
  }

  #mc_embed_signup form {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
  }

  #mc_embed_signup label {
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 15px;
  }

  #mce-EMAIL {
    width: calc(100% - 100px) !important;
  }
</style>

<h2>Subscribe</h2>

<div id="mc_embed_signup">
  <form action="//requestly.us15.list-manage.com/subscribe/post?u=bd167fe433c78607b3abd2151&amp;id=c50424ea1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Receive all requestly updates in your inbox</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bd167fe433c78607b3abd2151_c50424ea1e" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
